{% extends 'base.html' %}
{% load static %}
{% block page_title %}Task List{% endblock %}
{% block styles %}{% endblock %}
{% block main %}
    {% if request.user.is_authenticated %}
        <h1>Hello {{ request.user.username }}</h1>
        <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit">LOG OUT</button>
        </form>
    {% else %}
        <h1>Mag <a href="{% url 'login' %}">log-in</a> ka nga</h1>
    {% endif %}
    {% for task in object_list %}  
        <h3>  
        <li>
            <a href = "{{ task.get_absolute_url }}">
                {{ task }}
            </a>
        </li>
        </h3>
    {% endfor %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_div }}
        <button type="submit">Submit</button>
    </form>
{% endblock %}
{% block scripts %}{% endblock %}