<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task List</title>
</head>
<body>
    {% if request.user.is_authenticated %}
        <h1> Hello {{request.user.username}} </h1>
        <form action="{% url 'logout' %}" method ="POST">
            {% csrf_token %}
            <button type="submit"> LOGOUT </button>
        </form>

    {% else %}
        <h1> Hello World </h1>
        <a href = {% url 'lo≈gin' %}> LOGIN</a>
    {% endif %}
    something
        {% for task in object_list %}
        <li>
            <a href="{{ task.get_absolute_url }}">
                {{ task }}
            </a>
        </li>
        {% endfor %}
</body>
</html>